.canvas {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100vw;
}
.container{
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 4vw;
  background-color: rgba(0, 0, 0, 0.807);
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  margin: 0;
  height: 100vh;
  width: 100vw;
  z-index: 9;
}
.SiriText{
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  margin-top: 14vw;
  font-size: 1.3rem;
  width: 80vw;
  text-align: center;
  height: 12vw;
  overflow: scroll;
  z-index: 9999;
  line-height: 39px;
}