.list-box{
    height: calc(100vh - 150px);
    overflow-y: scroll;
}

.title{
    color: var(--gray-800);
    padding-bottom: 8px;
    border-bottom: 1px solid var(--gray-800);
    margin-bottom: 16px;
}