.profile-img{
    height: 60px;
    width: 60px;
    border-radius: 50%;
    object-fit: cover;
    flex-shrink: 0;
}

.chat-info{
    width: 100%;
}

.user-info{
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
}

.user-name{
    font-weight: 600;
    font-size: 18px;
}

.recent-date{
    color: var(--gray-800);
    font-weight: 500;
    font-size: 14px;
}

.chat-detail{
    width: 80%;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    font-weight: 300;
    font-size: 13px;
    color: var(--gray-800);
}

