.filtered-contact-list{
    width: calc(100% - 21px * 2);
    overflow-y: scroll;
}

.filter-title{
    color: var(--gray-800);
    padding-bottom: 8px;
    border-bottom: 1px solid var(--gray-800);
    margin-bottom: 16px;
}

.contact-list{
    display: flex;
    flex-direction: column;
    row-gap: 16px;
}
