.filtered-contact-list{
    width: calc(100% - 21px * 2);
}

.filter-title{
    color: var(--gray-800);
    padding-bottom: 8px;
    border-bottom: 1px solid var(--gray-800);
    margin-bottom: 16px;
}

.contact-list{
    display: flex;
    flex-direction: column;
    row-gap: 16px;
}

.contact-name{
    padding: 6px 8px;
    border-radius: 6px;
}

.select-contact{
    background-color: var(--blue);
    color: white;
}
