.topStyle {
    display: flex;
    justify-content: center;
}

.backgroundStyle {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.backgroundStyle img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}