.video{
    position: absolute;
    visibility: hidden;
}

.grid-cam{
    position: relative;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 4px;
    width: 100%;
    height: 100%;
}

.invert{
    filter: invert(100%);
}

.two{
    filter: saturate(0);
}

.three{
    filter: hue-rotate(90deg);
}

.four{
    filter: brightness(2);
}

.six{
    filter: sepia(100%);
}