.cam-area{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.main-cam{
    visibility: hidden;
}

.canvas{
    position: absolute;
}