.photo-list{
    position: absolute;
    bottom: 70px;
    width: calc(100vw - 4px * 2);
    padding: 3px 4px 0 4px;
    height: calc(70px - 6px);
    background-color: #444448;
    display: flex;
    column-gap: 4px;
    overflow: scroll;
}

.photos-box{
    position: relative;
    height: 60px;
}

.photo{
    height: 100%;
}

.my-photo{
    position: absolute;
    height: calc(100vh - 49px - 70px * 2);
    top: 49px;
    left: 50%;
    transform: translate(-50%, 0);
}

.selected-photo{
    width: 100%;
    height: 100%;
}

.my-photo-list{
    border: 1px solid #007AFF;
}

.delete-box{
    position: absolute;
    top: -3px;
    left: -4px;
    width: 20px;
    height: 20px;
    background-color: rgba(0, 0, 0, 0.53);
    border-radius: 50%;
    border: 1px solid rgba(255, 255, 255, 0.57);
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.delete-icon{
    font-size: 15px;
    color: #9A9595;
}

.qr-icon{
    position: absolute;
    bottom: 10px;
    right: 10px;
    z-index: 1;
}