/* 검색창 스타일 */
/* .searchDiv {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
} */

.searchDiv {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    position: relative;
    z-index: 2;
}

.searchStyle {
    border: 0;
    width: 20vw;
    padding: 1.2%;
    border-radius: 15px;
    background-color: #337ACA;
    color: white;
    padding-left: 1.5%;
    font-weight: 200;
    font-size: 0.8rem;
    margin-bottom: 1%;
}

.searchStyle:focus {
    outline: none;
}

.searchStyle::placeholder {
    color: white;
}