.resultsListDiv {
    width: auto;
    height: auto;
    display: flex;
    justify-content: flex-end;
}

.resultsListBox {
    border: 0;
    width: 20vw;
    padding: 1.2%;
    display: flex;
    border-radius: 15px;
    flex-direction: column;
    background-color: #337ACA;
}

.resultsListBox * {
    width: auto;
    height: auto;
    color: white;
    font-weight: 200;
    font-size: 0.8rem;
    line-height: 1rem;
    padding-left: 1.5%;
}