.container {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.background {
    width: 100%;
    height: 100%;
    position: relative;
    background: linear-gradient(to bottom, #0557B0, #ADCEF1);
}

.allDiv {
    position: relative;
    top: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* 정보 전체 div 스타일 */
.topContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 10px;
    color: white;
}

/* 나의 위치 */
.topContainer > p:nth-child(1) {
    font-size: 2.5rem;
    font-weight: 300;
}

/* 위치 */
.topContainer >p:nth-child(2) {
    font-size: 1rem;
}

/* 현재 온도 */
.topContainer >p:nth-child(3) {
    font-size: 5rem;
    font-weight: 100;
}

/* 날씨 상태(맑음, 흐림) */
.topContainer > p:nth-child(4) {
    font-size: 1.2rem;
}

/* 온도 div 스타일 */
.temperatureDiv {
    display: flex;
    column-gap: 5px;
}

/* 최고 온도, 최저 온도 */
.temperatureDiv p {
    font-size: 1.2rem;
}

/* 검색창, 날씨 Div */
.bottomContainer {
    justify-content: center;
    width: 55vw;
    height: auto;
    display: flex;
    flex-direction: column;
    row-gap: 50px;
    margin-top: 3%;
}

/* 검색창 스타일 */
.searchDiv {
    width: auto;
    height: auto;
    display: flex;
    justify-content: flex-end;
}

.searchStyle {
    border: 0;
    width: 20vw;
    padding: 1.2%;
    border-radius: 15px;
    background-color: #337ACA;
    color: white;
    padding-left: 1.5%;
    font-weight: 200;
}

.searchStyle:focus {
    outline: none;
}

.searchStyle::placeholder {
    color: white;
    font-size: 0.8rem;
}

/* 날씨 정보 Div */
.weatherDiv {
    display: flex;
    flex-direction: column;
    border: 0;
    width: auto;
    height: 17vh;
    padding: 2.5%;
    padding-left: 3%;
    border-radius: 15px;
    background-color: #4483C9;
}

.weatherStyle {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    row-gap: 25px;
    color: white;
}

.weatherStyle > p {
    font-weight: 300;
}

.presentWeatherDiv {
    display: flex;
    column-gap: 40px;
}

.presentWeather {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 10px;
}

.weatherImg {
    width: 50px;
    height: 50px;
}